/* ----- Global Styles ----- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Times, serif;
    color: #000;
}

hr {
    margin: 0.4rem 0;
    border: none;
}

input[type=text],
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 0.1rem solid #ccc;
    margin: 1rem 0;
    resize: vertical;
}

/* ----- Classes ----- */

.nav {
    width: 100%;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    background: linear-gradient(45deg, #5b98d1, #1c6a94);
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 0.4rem;
    border-radius: 0.8rem;
    transition: background-color 0.2s ease-in-out;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 0.4rem;
    color: #000;
}

.btn {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(45deg, #5b98d1, #1c6a94);
    border: none;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem;
    text-transform: uppercase;
    width: 6rem;
}

.btn:hover {
    background: #1c6a94;
    color: #fff;
    font-weight: 500;
}

.container {
    border-radius: 5px;
    height: 600rem;
    background: linear-gradient(45deg, #ffffff, #ffffff);
    padding: 20px;
    margin-bottom: 1rem;
}

.grid {
    width: 90%;
    height: 18rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0.6rem 5% 6rem;
    justify-content: center;
}

.grid img {
    margin: 0.2rem;
    height: 125px;
    width: 100px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.grid img.flip {
    transform: rotateY(180deg);
}

.popup {
    background: black;
    width: 8rem;
    height: 4rem;
    position: fixed;
    z-index: 20;
    top: 20%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    display: none;
}

.playAgain {
    text-transform: uppercase;
    padding: 0.6rem;
    font-weight: bolder;
    background: linear-gradient(45deg, #5b98d1, #1c6a94);
    border: none;
    border-radius: 5%;
}

.data {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
}

.data span {
    color: rgb(206, 121, 11);
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bolder;
}

.footer a,
i {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer a:hover,
i:hover {
    color: #000;
}

/* ----- IDs ----- */

#title {
    font: 2.5rem Zen Dots;
    margin: 2rem;
}

#gameInfo {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

#main-footer {
    background: linear-gradient(45deg, #5b98d1, #1c6a94);
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#middle_icon {
    margin: 0 1rem;
}

/* ----- Media Queries ----- */

@media only screen and (min-width: 520px) {
    .grid {
        width: 500px;
        margin: auto;
    }
}